<%= form_for(@writing) do |f| %>
  <% if @writing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@writing.errors.count, "σφάλμα") %>  και έτσι δεν επιτρέπεται η αποθήκευση της άσκησης</h2>

      <ul>
      <% @writing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <p> Επιλογή της άσκησης
   <%= select_tag :exercise_id, options_for_select(@exercise.collect{ |e| [e.etitle, e.id] }) %>
  </div>
</p>

  <div class="field">
  <p> Επιλογή της ημερομηνίας
   <%= f.text_field :writing_date %>
  </div>
 </p>

  <div class="actions">
    <%= f.submit "Προγραμματισμός", :class => "awesome custom red" %>
  </div>

<% end %>
