<section id = "articles">
    <% @articles.each do |article| %>
        <article class="article">
            <ul class="stars floatstars">
                <li class="yellowstars" style="width: <%= article.avg_rating * 25 %>px !important;"></li>
            </ul>
            <div class = "title"><%= link_to article.title, article %></div>
            <div class = "byline"><%= article.created_at.strftime("%B %d, %Y") %> : <%= article.state %></div>

        </article>
    <% end %>

     <div class='pagination'>
        <%= will_paginate @articles %>
    </div>
</section>
