

<section id = "articles">


    <% @articles.each do |article| %>
        <article class="article">
            <ul class="stars floatstars">
                <li class="yellowstars" style="width: <%= article.avg_rating * 25 %>px !important;"></li>
            </ul>
            <div class = "title"><%= link_to article.title, article %></div>
            <div class = "byline"><%= article.created_at.strftime("%B %d, %Y") %> : <%= article.state %></div>

        </article>
    <% end %>

     <div class='pagination'>
        <%= will_paginate @articles %>
    </div>
       <% @tags.sort_by(&:count).reverse.each do |k| %>

      <% url_opts = {:action => "all", :controller => "articles"}
         link_name = "#{k.name} (#{k.count})" %>
      <% if @keyword == k.name %>
        <%= link_to link_name, url_opts.merge(:keyword => nil), :class => "tag current_tag", :title => "Click again to see all" %>
      <% else %>
        <%= link_to link_name,  url_opts.merge(:keyword => k.name), :class => "tag", :title => "Click to filter by #{k.name}" %>
      <% end %>
    <% end %>
</section>
