<section id = "articles">
    <% @articles.each do |article| %>
        <article class="article">
            <ul class="stars floatstars">
                <li class="yellowstars" style="width: <%= article.avg_rating * 25 %>px !important;"></li>
            </ul>
            <div class = "title"><%= link_to article.title, article %></div>
            <div class = "byline"><%= l(article.created_at, :format => '%d %B') %> : <%= article.state %></div>

        </article>
    <% end %>

     <div class='pagination'>
        <%= will_paginate @articles %>
    </div>

     <div class='tag-box'>
       <% @tags.sort_by(&:count).reverse.each do |k| %>

      <% url_opts = {:action => "all", :controller => "articles"}
         link_name = "#{k.name} (#{k.count})" %>
      <% if @tag == k.name %>
        <%= link_to link_name, url_opts.merge(:tag => nil), :class => "tag current_tag", :title => "Κλικ για εμφάνιση όλων" %>
      <% else %>
        <%= link_to link_name,  url_opts.merge(:tag => k.name), :class => "tag", :title => "Κλικ για εμφάνιση άρθρων στην κατηγορία #{k.name}" %>
      <% end %>
    <% end %>
    </div>
</section>
