<section id = "admin">
    <h4><%= link_to @question.title, @question %></h4>
    Δημιουργός: <%= @question.student.fullname %><br />

    <br /><br /><br />

    <%= form_for(@question, :url => reject_admin_path(@question)) do |f| %>
          <% if @question.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@question.errors.count, "λάθος δεν επιτρέπει") %> την αποθήκευση του άρθρου</h2>
                    <ul>
                        <% @question.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
          <% end %>

          <div class="field">
                <label for="question_message">Μήνυμα προς τον δημιουργό του άρθρου</label><br />
                <%= f.text_area :message, :size => "100%x10", :class => "fullwidth"  %>
          </div>

          <div class="actions">
                <%= f.submit "Απόρριψη άρθρου", :class => "awesome custom red" %>
          </div>
    <% end %>
</section>
