<section id = "admin">
<%= javascript_include_tag :defaults %>
<h2>Διαχειριστής: <%= @user_kind_name.capitalize %> </h2>



    <% @users.each do |user| %>
      <p>
        <h4><%= link_to user.fullname, user %></h4>
          <%= user.email %>
                 Θεματική ενότητα:   <%= user.lesson.name %>


        <% if user.user_kind == 0 %>
          <%= link_to 'Μεταβολή σε καθηγητή', accept1_admin_path(user, :value => '0'), :method => :put %>
        <% else %>
          <%= link_to 'Μεταβολή σε σπουδαστή', accept1_admin_path(user, :value => '1'), :method => :put %>
        <% end %>

      </p>
    <% end %>

     <div class='pagination'>
        <%= will_paginate @users %>
    </div>
</section>
